package-lock.json
http-client/
node_modules
.idea
.env
.gitconfig
yarn.lock
**/db
**/wp-content
**/kafka/data
./authentication/firebase/python
./[I]Interview/algorithm/
**/yarn.lock
**/.nvm
**/.env
**/listing.md
**/db-1
**/db-2
**/db-3
**/mongo-key