package-lock.json
http-client/
node_modules
.idea
.env
.gitconfig
yarn.lock
**/db
**/wp-content
**/kafka/data
./authentication/firebase/python
**/yarn.lock
**/.nvm
**/.env
**/listing.md
**/db-1
**/db-2
**/db-3
**/mongo-key
\[I\]Interview/
asset-management/
**/target
**/Cargo.lock
**/build